  <script type="text/javascript" src="/javascripts/wz_tooltip.js"></script>
    <a name="grid"></a>
<h2>All Volunteers for <%= Project.latest.project_name %></h2>
<small>
<form action="/manage/list_volunteers">
<% if params[:id].blank? and params[:search].blank? %> > <% end %><a href="/manage/list_volunteers">All</a> &nbsp; 
<% if params[:id] == 'not_assigned' %> > <% end %><a href="/manage/list_volunteers/not_assigned">Unassigned Only</a> &nbsp; 
<% if params[:id] == 'assigned' %> > <% end %><a href="/manage/list_volunteers/assigned">Assigned Only</a> &nbsp; 
<% unless params[:search].blank? %> > <% end %>search: <input type="textbox" name="search" value="<%= params[:search] %>" /><input type="submit" value="search" /></form>
</small><BR />

Total: <%= @volunteer_count %><BR /><BR />Page: <% ((@volunteer_count/20)+1).times{ |i| %>
						<% unless params[:page]==(i+1).to_s || (params[:page].blank? && (i+1)==1) %>
						  <a href="/manage/list_volunteers?page=<%= (i+1).to_s %>#grid">
						   <%= (i+1).to_s %></a> &nbsp; 
						<% else %>
						  <span style="font-weight:bold;color:#60BB46;"><%= (i+1).to_s %></span> &nbsp;
						<% end %>
						 <% } %>
<table class="grids">
  <tr><th>Name</th><th>Email</th><th>Group</th><th>Est Group Size</th><th>Edit</th><th>Assigned To</th><th>Skills</th></tr>
  
<% @volunteers.each { |volunteer| %>
<tr>
  <td><%=h volunteer.contact.first_name %> <%=h volunteer.contact.last_name %>
    <% unless volunteer.contact.comments.blank? && volunteer.contact.other_skills.blank? %>
    <a href="#" onmouseover="TagToTip('deet<%= volunteer.contact.id %>');" onmouseout="UnTip()" onclick="return false;"><NOBR>( ? )</NOBR></a>
    <span id="deet<%= volunteer.contact.id %>" style="display:none;">
      <div style="width:300px;">
    	  <% unless volunteer.contact.comments.blank? %><strong>Comments:</strong> <%= volunteer.contact.comments %><% end %>
	<% unless volunteer.contact.comments.blank? || volunteer.contact.other_skills.blank? %><BR /><BR /><% end %>  
	  <% unless volunteer.contact.other_skills.blank? %><strong>Other Skills:</strong> <%= volunteer.contact.other_skills %><% end %>
      </div>
    </div>
    <% end %>
  </td>
  <td><%=h volunteer.contact.email %></td>
  <td><%=h volunteer.contact.company_name %></td>
  <td><%=h volunteer.contact.est_group_size %></td>
  <td>
    <a name="<%=volunteer.contact.id%>"></a>
	<a href="<%= url_for(:controller => 'manage', :action => 'edit_contact', :id => volunteer.contact.id) %>">edit</a>
  </td>
  <td><div id="assigner<%= volunteer.id %>"<%= volunteer.house %>
    <%= render :partial => "assign", :object => volunteer %>
   </div>
  </td>
  <td><small>
	<% skills = volunteer.contact.skills.map { |skill| if !skill.nil? 
					skill.is_trade_skill ? '<b>'+skill.description+'</b>' : skill.description 
				end} %>
	<%= skills.join(", ") %>
	</small>
  </td>
</tr>
<% } %>
</table>
<BR />Page: <% ((@volunteer_count/20)+1).times{ |i| %>
						<% unless params[:page]==(i+1).to_s || (params[:page].blank? && (i+1)==1) %>
						  <a href="/manage/list_volunteers?page=<%= (i+1).to_s %>#grid">
						   <%= (i+1).to_s %></a> &nbsp; 
						<% else %>
						  <span style="font-weight:bold;color:#60BB46;"><%= (i+1).to_s %></span> &nbsp;
						<% end %>
						 <% } %>