  <script type="text/javascript" src="/javascripts/wz_tooltip.js"></script>
    <a name="grid"></a>
<h2>All Contacts</h2>
<small>
<form action="/manage/list_contacts" style="font-size: 24px;">
  search: <input type="textbox" name="search" value="<%= params[:search] %>" /><input type="submit" value="search" /></form>
</small><BR />
<% if params[:search].blank? %>
  <BR />
  <em>Enter your search phrase above to find contacts. Type part of a name, email or organization.</em>
  <BR /><BR />
<% else %>
Total: <%= @contact_count %><BR /><BR />Page: <% ((@contact_count/20)+1).times{ |i| %>
						<% unless params[:page]==(i+1).to_s || (params[:page].blank? && (i+1)==1) %>
						  <a href="/manage/list_contacts?page=<%= (i+1).to_s %><% if not params[:search].blank? %>&search=<%= params[:search] %><% end %>#grid">
						   <%= (i+1).to_s %></a> &nbsp; 
						<% else %>
						  <span style="font-weight:bold;color:#60BB46;"><%= (i+1).to_s %></span> &nbsp;
						<% end %>
						 <% } %>
<table class="grids">
  <tr><th>Name</th><th>Email</th><th>Group</th><th>Est Group Size</th><th>Skills</th><th></th></tr>
  
<% @contacts.each { |contact| %>
<tr>
  <td><%=h contact.first_name %> <%=h contact.last_name %>
    <% unless contact.comments.blank? && contact.other_skills.blank? %>
    <a href="#" onmouseover="TagToTip('deet<%= contact.id %>');" onmouseout="UnTip()" onclick="return false;"><NOBR>( ? )</NOBR></a>
    <span id="deet<%= contact.id %>" style="display:none;">
      <div style="width:300px;">
    	  <% unless contact.comments.blank? %><strong>Comments:</strong> <%= contact.comments %><% end %>
	<% unless contact.comments.blank? || contact.other_skills.blank? %><BR /><BR /><% end %>  
	  <% unless contact.other_skills.blank? %><strong>Other Skills:</strong> <%= contact.other_skills %><% end %>
      </div>
    </div>
    <% end %>
  </td>
  <td><%=h contact.email %></td>
  <td><%=h contact.company_name %></td>
  
  <td><small><% unless contact.mobile_phone.blank? %>
	<NOBR>c: <%= contact.mobile_phone %></NOBR><BR /><% end %>
      <% unless contact.home_phone.blank? %>
	<NOBR>h: <%= contact.home_phone %></NOBR><BR /><% end %>
      <% unless contact.work_phone.blank? %>
	<NOBR>w: <%= contact.work_phone %></NOBR><% end %></td>
  
  <td><small>
	<% skills = contact.skills.map { |skill| if !skill.nil? 
					skill.is_trade_skill ? '<b>'+skill.description+'</b>' : skill.description 
				end} %>
	<%= skills.join(", ") %>
	</small>
  </td>
    <td>
    <a name="<%=contact.id%>"></a>
	<a href="<%= url_for(:controller => 'manage', :action => 'edit_contact', :id => contact.id) %>">edit</a>
    </td><td>
	<div id="assigner<%= contact.id %>">
	<% form_remote_tag :url => "/manage/volunteer_contact", :update => {:success => "assigner"+contact.id.to_s }do %>
	  <input type="hidden" name="id" value="<%= contact.id %>" />
	  <input type="submit" value="Volunteer Me" />
	  <% end %>
	</div>
  </td>
</tr>
<% } %>
</table>
<BR />Page: <% ((@contact_count/20)+1).times{ |i| %>
						<% unless params[:page]==(i+1).to_s || (params[:page].blank? && (i+1)==1) %>
						  <a href="/manage/list_contacts?page=<%= (i+1).to_s %><% if not params[:search].blank? %>&search=<%= params[:search] %><% end %>#grid">
						   <%= (i+1).to_s %></a> &nbsp; 
						<% else %>
						  <span style="font-weight:bold;color:#60BB46;"><%= (i+1).to_s %></span> &nbsp;
						<% end %>
						 <% }
  end %>