<h1>View a Project House</h1>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAD08g2_Oq3J9d7H2sqFyveRSapxgfxvaUOx1n8B-8GndFDCgq9xTESvzPQM7K9v2lZdPBqd9aAgc4Dg" type="text/javascript"></script>
<div id="map_canvas" style="width: 500px; height: 300px"></div>
<script>
window.onload = initmap();
window.onunload = GUnload();
var map = "";
var geocoder = "";
function initmap ()
{
  map = new GMap2(document.getElementById("map_canvas"));
  map.setUIToDefault();
//  map.setCenter(new GLatLng(37.4419, -122.1419), 13);

  geocoder = new GClientGeocoder();
  showAddress("<%= @contact.address_1 %> <%= @contact.city %> <%= @contact.state %> <%= @contact['zip'] %>",map);
}

  
function showAddress(address,map) {
  geocoder.getLatLng(
    address,
    function(point) {
      if (!point) {
        alert(address + " not found");
      } else {
        map.setCenter(point,13);
        var marker = new GMarker(point);
        map.addOverlay(marker);
        marker.openInfoWindowHtml('<span style="color:#60BB46;">House ' + <%= @house.house_number %> + "</span><BR />" + address);
      }
    }
  );
}
</script>
<div class="contactform">
<BR /><BR />
House <strong><span style="font-size:28px;color:#60BB46;"><%=h @house.house_number %></span></strong>
		<div style="float:right; width:250px;">
			<strong>Contact Information</strong><br />
			<ol>
			  <% unless @contact.home_phone.blank? %>
				<li>
					<div class="label" style="width:200px;">Home phone:
					<%=h @contact.home_phone %></div>
				</li>
			   <% end
			  unless @contact.work_phone.blank? %>
				<li>
					<div class="label" style="width:200px;">Work phone: 
					<%=h @contact.work_phone %></div>
				</li>
			   <% end
			  unless @contact.mobile_phone.blank? %>
				<li>
					<div class="label" style="width:200px;">Mobile phone: 
					<%=h @contact.mobile_phone %></div>
				</li>
			    <% end %>
			</ol>
		</div>
		<BR /><BR />
				<strong><%=h @contact.first_name %>
				<%=h @contact.last_name %></strong>
				<% unless @contact.email.blank? %>(
				  <a href="mailto:<%=h @contact.email %>"><%=h @contact.email %></a> )
				<% end %><BR />
				<%=h @contact.address_1 %><BR />
				<% unless @contact.address_2.blank? %>
				  <%=h @contact.address_2 %><BR />
				<% end %>
				<%=h @contact.city %>, 
				<%=h @contact.state %> 
				<%=h @contact['zip'] %><BR />
<div style="clear:both;">&nbsp;</div>
<style>
  .contactform .label
    {
      width:250px;
    }
</style>
<a href="#" onclick="$('deets').toggle()">House Details</a> &nbsp; <a href="/manage/add_edit_house/<%= @house.id %>">Edit this House</a>
 &nbsp; <a href="/manage/remove_house/<%= @house.id%>" onclick="return confirm('Are you sure? This cannot be undone.');">Delete this House</a>
<div id="deets" style="border: 1px solid #000; padding:10px;display:none;">
  <ol>
  <li><div class="label"><strong>House Number:</strong></div> <%=h @house.house_number %><BR /></li>
  <li><div class="label">Project:</div><%=h Project.find(@house.project_id).project_name %><BR /></li>
  <li><div class="label">Ethnicity:</div> <%=h @house.ethnicity %><BR /></li>
  <li><div class="label">Disability:</div> <%=h @house.disability %><BR /></li>
  <li><div class="label">Years In Home:</div> <%=h @house.years_in_home %><BR /></li>
  <li><div class="label">Is Homeowner?:</div> <%=h @house.is_homeowner %><BR /></li>
  <li><div class="label">Annual Income:</div> <%=h @house.annual_income %><BR /></li>
  <li><div class="label">Monthly Payments:</div> <%=h @house.monthly_payments %><BR /></li>
  <li><div class="label">Number of People in House:</div> <%=h @house.number_of_people_in_house %><BR /></li>
 <li><div class="label"> Number of Children:</div> <%=h @house.number_of_children %><BR /></li>
  
  <li><div class="label">Children Names and Ages:</div> <%=h @house.children_names_and_ages %><BR /></li>
  <li><div class="label">Application Submitted On:</div> <%=h @house.application_submitted_on %><BR /></li>
  <li><div class="label">Is Application Complete?:</div> <%=h @house.is_application_complete %><BR /></li>
  <li><div class="label">Is Application Signed?:</div> <%=h @house.is_application_signed %><BR /></li>
  <li><div class="label">Is Proof of Ownership?:</div> <%=h @house.is_proof_of_ownership %><BR /></li>
  <li><div class="label">Is Income Verified?:</div> <%=h @house.is_income_verification %><BR /></li>
  
  <li><div class="label">Referral Organization:</div> <%=h @house.referral_organization %><BR /></li>
  <li><div class="label">Referral Agent:</div> <%=h @house.referral_agent %><BR /></li>
  <li><div class="label">Area of Town:</div> <%=h @house.area_of_town %><BR /></li>
  
  <li><div class="label">Repairs Needed:</div> <%=h @house.repairs_needed %><BR /></li>
  <li><div class="label">Number of Volunteers Needed:</div> <%=h @house.number_of_volunteers_needed %><BR /></li>
  <li><div class="label">Materials Needed:</div> <%=h @house.materials_needed %><BR /></li>
  <li><div class="label">Estimated Cost:</div> <%=h @house.estimated_cost %><BR /></li>
  <li><div class="label">Comments:</div> <%=h @house.comments %><BR /></li>
  <li><div class="label">Is Accepted:</div> <%=h @house.is_accepted %><BR /></li>
  <li><div class="label">End On:</div> <%=h @house.accept_letter_sent_on %><BR /></li>
</div>
</div>
<h2>Assigned Volunteer List</h2>
<% if @volunteers.blank? %><em>None assigned</em><% else %>
<table class="grids">
  <tr><th>volunteer</th><th>group</th><th>est. group size</th><th>email</th><th>phone numbers</th><th>skills</th><th></th></tr>
<% @volunteers.each { |volunteer| %>
  <tr><td><%= volunteer.contact.first_name %> <%= volunteer.contact.last_name %></td>
  <td><%= volunteer.contact.company_name %></td>
  <td><%=h volunteer.contact.est_group_size %></td>
  <td><%= volunteer.contact.email %></td>
  <td>c: <%= volunteer.contact.mobile_phone %>, h: <%= volunteer.contact.home_phone %>, w: <%= volunteer.contact.work_phone %></td>
  <td><small>
	<% skills = volunteer.contact.skills.map { |skill| if !skill.nil? 
					skill.is_trade_skill ? '<b>'+skill.description+'</b>' : skill.description 
				end} %>
	<%= skills.join(", ") %>
	</small>
  </td>
   <td>
    <a name="<%=volunteer.contact.id%>"></a>
	<a href="<%= url_for(:controller => 'contacts', :action => 'edit', :id => volunteer.contact.id) %>">edit</a>
  </td>
 
  </tr>
  <% }
  end %>
</table><BR />
<a href="/manage/list_volunteers">Assign more volunteers</a><BR />