<h1>Editing House</h1>
<form action="/houses/update" class="edit_house" id="edit_house_1" method="post">
  <%= token_tag %>
 <% fields_for(@contact) do |f|  %>
 <%= f.hidden_field :id %>
<h2>The Homeowner</h2>
		<em>Bold fields are required</em>
		<br />
		<div style="float:right; width:250px;">
			<strong>Contact Information</strong><br />
			<ol>
				<li>
					<div class="label">Home phone</div>
					<%=f.text_field :home_phone, :size => "12", :maxlength => "255", :tabindex => ti(10) %>
				</li>
				<li>
					<div class="label">Work phone</div>
					<%=f.text_field :work_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
				<li>
					<div class="label">Mobile phone</div>
					<%=f.text_field :mobile_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
			</ol>
		</div>
		<ol>
			<li class="required">
				<div class="label">First Name</div>
				<%=f.text_field :first_name, :size => "20", :maxlength => "255", :tabindex => ti(1) %>
			</li>
			<li class="required">
				<div class="label">Last Name</div>
				<%=f.text_field :last_name, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li class="required">
				<div class="label">Email</div>
				<%=f.text_field :email, :size => "40", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 1</div>
				<%=f.text_field :address_1, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 2</div>
				<%=f.text_field :address_2, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">City</div>
				<%=f.text_field :city, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">State</div>
				<%=f.text_field :state, :size => "5", :maxlength => "2", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Zip</div>
				<%=f.text_field :zip, :size => "7", :maxlength => "10", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Country</div>
				<%=f.text_field :country, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
		</ol>
<% end %>
<h2>The House</h2>
<% fields_for(@house) do |f| %>

  <%= f.error_messages %>
  <%= f.hidden_field :id %>
  Project: <%= collection_select :house, :project_id, Project.all, :id, :project_name %><BR />
  Ethnicity: <%= f.text_field :ethnicity %><BR />
  Disability: <%= f.text_field :disability %><BR />
  Years In Home: <%= f.text_field :years_in_home %><BR />
  Is Homeowner?: <%= f.check_box :is_homeowner %><BR />
  Annual Income: <%= f.text_field :annual_income %><BR />
  Monthly Payments: <%= f.text_field :monthly_payments %><BR />
  Number of People in House: <%= f.text_field :number_of_people_in_house %><BR />
  Number of Children: <%= f.text_field :number_of_children %> (numbers only)<BR />
  
  Children Names and Ages: <%= f.text_area :children_names_and_ages %><BR />
  Application Submitted On: <%= f.date_select :application_submitted_on %><BR />
  Is Application Complete?: <%= f.check_box :is_application_complete %><BR />
  Is Application Signed?: <%= f.check_box :is_application_signed %><BR />
  Is Proof of Ownership?: <%= f.check_box :is_proof_of_ownership %><BR />
  Is Income Verified?: <%= f.check_box :is_income_verification %><BR />
  
  Referral Organization: <%= f.text_field :referral_organization %><BR />
  Referral Agent: <%= f.text_field :referral_agent %><BR />
  House Number: <%= f.text_field :house_number %> (numbers only)<BR />
  Area of Town: <%= f.text_field :area_of_town %><BR />
  
  Repairs Needed: <%= f.text_area :repairs_needed %><BR />
  Number of Volunteers Needed: <%= f.text_field :number_of_volunteers_needed %><BR />
  Materials Needed: <%= f.text_area :materials_needed %><BR />
  Estimated Cost: <%= f.text_field :estimated_cost %><BR />
  Comments: <%= f.text_area :comments %><BR />
  Is Accepted: <%= f.check_box :is_accepted %><BR />
  End On: <%= f.date_select :accept_letter_sent_on %><BR />
  
  Number of Volunteers Needed: <%= f.text_field :number_of_volunteers_needed %><BR />
  <% end %>
  <p>
    <input type="submit" value="Update" />
</form>
  </p>
