		<%=form.hidden_field :is_active %>
				
		<h2>About Yourself</h2>
		<em>Bold fields are required</em>
		<br />
		<div style="float:right; width:250px;">
			<strong>Contact Information</strong><br />
			<ol>
				<li>
					<div class="label">Home Phone</div>
					<%=form.text_field :home_phone, :size => "12", :maxlength => "255", :tabindex => ti(10) %>
				</li>
				<li>
					<div class="label">Work Phone</div>
					<%=form.text_field :work_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
				<li>
					<div class="label">Mobile Phone</div>
					<%=form.text_field :mobile_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
			</ol>
		</div>
		<ol>
			<li class="required">
				<div class="label">First Name</div>
				<%=form.text_field :first_name, :size => "20", :maxlength => "255", :tabindex => ti(1) %>
			</li>
			<li class="required">
				<div class="label">Last Name</div>
				<%=form.text_field :last_name, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li class="required">
				<div class="label">Email</div>
				<%=form.text_field :email, :size => "40", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 1</div>
				<%=form.text_field :address_1, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 2</div>
				<%=form.text_field :address_2, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">City</div>
				<%=form.text_field :city, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">State</div>
				<%=form.text_field :state, :size => "5", :maxlength => "2", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Zip</div>
				<%=form.text_field :zip, :size => "7", :maxlength => "10", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Country</div>
				<%=form.text_field :country, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
		</ol>
