<h1>Volunteer Today - <%= Project.latest.project_name %></h1>
<p>
	<strong>You can make a difference.</strong> Experience the great feeling that comes with helping out your community. Our volunteers come to us with all different levels of skills, and every helping hand makes a difference.
	Whether you're a skilled tradesman or simply looking to help out any way you can, please fill out the form below to get started.
</p>
<div style="clear:both;font-size:0em;">&nbsp;</div>
<div class="contactform">
    <% form_for :contact, @contact, :url => { :action => "update", :id => @contact.id }, :html => { :id => "edit_contact", :name => "edit_contact" } do |form| %>
		
		<%=error_messages_for :contact, :header_message => "Could not save because of the following problems:" %>
		
		<%=render :partial => 'form_contact_info', :locals => { :form => form } %>

		<%=render :partial => 'form_group_info', :locals => { :form => form } %>

		<%=render :partial => 'form_volunteer_info', :locals => { :form => form } %>

		<hr /><br>
		<ol>
			<li>
				<div class="label">&nbsp;</div>
				<%= form.submit 'Save Changes' , :tabindex => ti() %>
			</li>
		</ol>
	<% end %>
</div>
