<h1>Volunteer Today - <%= Project.latest.project_name %> on April 24th, 2010</h1>
<p>
	<strong>You can make a difference.</strong> Experience the great feeling that comes with helping out your community. Our volunteers come to us with all different levels of skills, and every helping hand makes a difference.
	Whether you're a skilled tradesman or simply looking to help out any way you can, please fill out the form below to get started.
</p>
<div style="clear:both;font-size:0em;">&nbsp;</div>
<div class="contactform">
    <% form_for :contact, @contact, :url => { :action => "create" }, :html => { :id => "new_contact", :name => "new_contact" } do |form| %>
		
		<%=error_messages_for :contact, :header_message => "Oops. We need a little more information." %>
		
		<%=form.hidden_field :is_active %>
		
		<%=render :partial => 'form_contact_info', :locals => { :form => form } %>

		<%=render :partial => 'form_group_info', :locals => { :form => form } %>

		<%=render :partial => 'form_volunteer_info', :locals => { :form => form } %>
		<ol>
			<li>
				<div class="label">&nbsp;</div>
				<%=image_submit_tag("signup.jpg", :width => "210", :height => "47", :tabindex => ti() ) %>
			</li>
		</ol>
	<% end %>
</div>
