<h1>Volunteer Today - <%= Project.latest.project_name %></h1>
<p>
	<strong>You can make a difference.</strong> Experience the great feeling that comes with helping out your community. Our volunteers come to us with all different levels of skills, and every helping hand makes a difference.
	Whether you're a skilled tradesman or simply looking to help out any way you can, please fill out the form below to get started.
</p>
<div style="clear:both;font-size:0em;">&nbsp;</div>
<div class="contactform">
    <% form_for :contact, @contact, :url => { :action => "create" }, :html => { :id => "new_contact", :name => "new_contact" } do |f| %>
		
		<%=error_messages_for :contact, :header_message => "Oops. We need a little more information." %>
		
		<%=f.hidden_field :is_active %>
				
		<h2>About Yourself</h2>
		<em>Bold fields are required</em>
		<br />
		<div style="float:right; width:250px;">
			<strong>Contact Information</strong><br />
			<ol>
				<li>
					<div class="label">Home phone</div>
					<%=f.text_field :home_phone, :size => "12", :maxlength => "255", :tabindex => ti(10) %>
				</li>
				<li>
					<div class="label">Work phone</div>
					<%=f.text_field :work_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
				<li>
					<div class="label">Mobile phone</div>
					<%=f.text_field :mobile_phone, :size => "12", :maxlength => "255", :tabindex => ti() %>
				</li>
			</ol>
		</div>
		<ol>
			<li class="required">
				<div class="label">First Name</div>
				<%=f.text_field :first_name, :size => "20", :maxlength => "255", :tabindex => ti(1) %>
			</li>
			<li class="required">
				<div class="label">Last Name</div>
				<%=f.text_field :last_name, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li class="required">
				<div class="label">Email</div>
				<%=f.text_field :email, :size => "40", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 1</div>
				<%=f.text_field :address_1, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Address 2</div>
				<%=f.text_field :address_2, :size => "30", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">City</div>
				<%=f.text_field :city, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">State</div>
				<%=f.text_field :state, :size => "5", :maxlength => "2", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Zip</div>
				<%=f.text_field :zip, :size => "7", :maxlength => "10", :tabindex => ti() %>
			</li>
			<li>
				<div class="label">Country</div>
				<%=f.text_field :country, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
		</ol>


		<h2>About Your Group <i>(optional)</i></h2>
		<ol>
			<li>
				If you are signing up as part of a group, please enter your company/organization name:
				<br />
			</li>
			<li>
				<%=f.text_field :company_name, :size => "50", :maxlength => "255", :tabindex => ti(13) %>
			</li>
			<li>
				<br />
				If you are the main contact person for your group, please enter the number of people you expect (best guess, including yourself):
			</li>
			<li>
				<%=f.text_field :est_group_size, :size => "20", :maxlength => "255", :tabindex => ti() %>
			</li>
		</ol>
		
		<h2>Let's Rebuild</h2>
		Tell us a little bit about your skills, interests and let us know what you're thinking.
		<ol>
			<li style="list-style: none">
				
				<div class="label">Skills:</div>
				<div style="width:350px; float:left;">
					<% cnt = 0
					@skills.each do |skill| %>
						<input type="checkbox" name="skills[]" value="<%=skill.id %>" id="skill_<%=skill.id %>" tabindex="<%=ti()%>" <%= ((params[:skills] || {}).include?(skill.id.to_s)) ? 'checked="checked"' : "" %> />
						<label for="skill_<%=skill.id %>"><%= skill.description %></label>
						<br />
						<% cnt+=1
						if cnt > @skills.length/2
							cnt = -1000000 %>
							</div>
							<div style="width:350px; float:left;">
						<% end %>
					<% end %>
				</div>
				<div style="clear:both;font-size:0em;">&nbsp;</div><br />
			</li>
			<li id="contact_other_skills_input">
				<div class="label">Other Skills:</div>
				<%= f.text_area :other_skills, :rows => "4", :cols => "40", :tabindex => ti() %>
			</li>
			<li id="contact_comments_input">
				<div class="label">Comments:</div>
				<%= f.text_area :comments, :rows => "4", :cols => "40", :tabindex => ti() %>
			</li>
			<li style="list-style: none; padding-top: 10px;">
				<div class="label required">Volunteer<br />Interests:</div>
				<div style="width:700px; float:left;">
					<% @ctypes.each do |ctype| %>
						<div style="padding-bottom: 4px;">
							<input type="checkbox" name="ctypes[]" value="<%=ctype.id %>" id="interest_<%=ctype.id %>" tabindex="<%=ti()%>" <%= ((params[:ctypes] || {}).include?(ctype.id.to_s)) ? 'checked="checked"' : "" %> />
							<label for="interest_<%=ctype.id %>"><%= ctype.signup_form_description || ctype.description %></label>
						</div>
					<% end %>
				</div>
				<div style="clear:both;font-size:1em;">&nbsp;</div>
			</li>
		</ol>
		<hr /><br>
		<ol>
			<li>
				<div class="label">&nbsp;</div>
				<%=image_submit_tag("signup.jpg", :width => "210", :height => "47", :tabindex => ti() ) %>
			</li>
		</ol>
	<% end %>
</div>
