<h1>Thanks, <%= @contact.first_name %></h1>
Your support is greatly appreciated. As we approach our next Rebuilding Day, expect to hear more about how to participate from us via email. 
<BR /><BR />
Please double check the information below. If anything has changed, please update the info.
<BR /><BR />
<Strong>We look forward to seeing you Rebuilding Day, April 24th 2010!</strong>
<BR /><BR />
<div style="clear:both;font-size:0em;">&nbsp;</div>
<div class="contactform">
    <% form_for :contact, @contact, :url => { :controller => "contacts", :action => "create" }, :html => { :id => "new_contact", :name => "new_contact" } do |form| %>
		
		<%=error_messages_for :contact, :header_message => "Oops. We need a little more information." %>
		
		<%=form.hidden_field :is_active %>
		
		<%=render :partial => 'contacts/form_contact_info', :locals => { :form => form } %>

		<%=render :partial => 'contacts/form_group_info', :locals => { :form => form } %>

		<%=render :partial => 'contacts/form_volunteer_info', :locals => { :form => form } %>

		<hr /><br>
		<ol>
			<li>
				<div class="label">&nbsp;</div>
				<%=image_submit_tag("signup.jpg", :width => "210", :height => "47", :tabindex => ti() ) %>
			</li>
		</ol>
	<% end %>
</div>
<div style="clear:both;font-size:0em;">&nbsp;</div>

In the meantime, if you'd like to get in touch, please feel free to contact us at:
<p>
  <h2>Contact Information</h2>
<strong>Rebuilding Together * Portland</strong><BR />
5000 N. Willamette Blvd. Portland, OR 97203-5798<BR />
Phone: 503-943-7515<BR />

Fax: 503-943-7322<BR />
MikeMalone@rebuildingtogetherportland.org<BR />
</p>

