<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Rebuilding Together Portland</title>
    <link href="/stylesheets/public.css" rel="stylesheet" type="text/css" />

  </head>
    <body>
	<div id="containerOuter">
	    <div id="container">
		<img src="/images/painter.jpg" alt="House painter on ladder." style="float:left;" />
		<img src="/images/big-logo.png" alt="Rebuilding Together Portland logo." style="margin-left: 125px; margin-top: 35px;" />
		<div style="clear:both;font-size:0em;">&nbsp;</div>
		<div id="nav">
		    <a href="/">Home</a>
		    <a href="<%= url_for :controller => :mainsite, :action => :about_page%>">About Us</a>
		    <a href="<%= url_for :controller => :contacts, :action => :new%>">Volunteer</a>
		    <a href="<%= url_for :controller => :mainsite, :action => :homeowners_page %>">Homeowners</a>
		    <a href="<%= url_for :controller => :mainsite, :action => :nonprofits_page %>">Non-Profits</a>
		    <a href="<%= url_for :controller => :mainsite, :action => :board_page %>">Board of Directors</a>
		</div>
		<div id="content">
		    
		   <%= yield %>
		
		</div>
		<div id="footer">
		    Rebuilding Together Portland, &copy; 2010
		</div>
	    </div>
	</div>
  </body>
</html>
